@model BaseProject.Areas.Admin.Models.EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<h2>Edit</h2>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Role.Id" />
            <input type="hidden" asp-for="Role.ConcurrencyStamp" />
            <div class="form-group">
                <label asp-for="Role.Name" class="control-label"></label>
                <input asp-for="Role.Name" class="form-control" />
                <span asp-validation-for="Role.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role.NormalizedName" class="control-label"></label>
                <input asp-for="Role.NormalizedName" readonly class="form-control" />
                <span asp-validation-for="Role.NormalizedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedUsers" class="control-label"></label>
                <select asp-for="AssignedUsers" asp-items="@Model.AvailableUsers"></select>
                <span asp-validation-for="AssignedUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

