@model IEnumerable<BaseProject.Models.User>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.FirstName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(x => item.FirstName)
            </td>
        </tr>
}
    </tbody>
</table>
