@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Issue Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from Austin Coding Academy GitHub.</p>
        <p>
            <!-- TODO: Project github link-->
            <a class="btn btn-default"
               href="https://github.com/AustinCodingAcademy/netcore-workbook">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>