@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Issue Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Issue Tracker</h2>
        <p>
            Issue Tracker is an application for tracking ticket
            issues from origination to completion. Think Trello,
            but better (one day)!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p>
            <!-- TODO: Project gitbook link-->
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from Austin Coding Academy GitHub.</p>
        <p>
            <!-- TODO: Project github link-->
            <a class="btn btn-default"
               href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/cu-final">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>