<div class="item">
    <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
    <div class="carousel-caption" role="option">
        <p>
            There are powerful new features in Visual Studio for building modern web apps.
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                Learn More
            </a>
        </p>
    </div>
</div>